<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <center><p>An user exists with given account number or mobile number or customer Id<</p></center>

     <center><p>Please try to signup with different account number or mobile number or customer id !!!</p></center>

     <center><p>To Login click down on 'Login'</p></center>

     <center><a href="/login" style="margin-right:0px; font-size:13px;font-family:Tahoma,Geneva,sans-serif;">Login</a></center>

     <center><p>To Signup click down on 'Signup'</p></center>

     <center><a href="/signup" style="margin-right:0px; font-size:13px;font-family:Tahoma,Geneva,sans-serif;">Signup</a></center>

      <center><p>To go to home page  click down on 'Home'</p></center>

     <center><a href="/" style="margin-right:0px; font-size:13px;font-family:Tahoma,Geneva,sans-serif;">Home</a></center>
</body>
</html>