{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'payment.css'%}">
</head>
<body>
<body style="background-color:#ffffff;"></body>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/aboutus">OurTeam</a>
            <a href="/logout" class="right">Logout</a>
        </div>
           <center><p>Your previous transactions are!!!</p></center>
           <center><h1>CID   AN   CN   AMT   EMAIL</h1></center>
           {% for b in b%}
            <center><h2>{{b}}</h2></center>
           {% endfor %}

</body>
</html>